ul li{
  list-style: none;
}

body, .form{
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  margin: auto;
  max-width: 500px;
  grid-row-gap: 20px;
  text-align: center;
}

.CardsContainer{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  width: 250px;
}

.CardsContainer img{
  width: 100%;
}

*{
  margin:auto;
}

.bandera{
  width: 100%;
}

button, input{
  margin-top: 15px;
}

.logo{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
}

.cientifico{
  width: 200px;
}