@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap')

ul li
  list-style: none


body, .form
  display: grid
  grid-template-rows: auto auto auto auto auto
  margin: auto
  max-width: 500px
  grid-row-gap: 10px
  text-align: center
  font-family: 'Baloo Thambi 2', cursive;
  @media screen and (max-width: 768px)
    font-size: 1.5em
    margin: 10px

.Header
  .logo
    height: 100px
    width: auto
    cursor: pointer
  .logo_big
    height: 300px
    width: auto
  margin-bottom: 10px


.form
  text-align: justify
  p
    @media screen and (max-width: 768px)
      font-size: 0.7em
  span
    margin: auto
    text-align: center
  h5


.CardsContainer
  display: grid
  grid-template-columns: auto auto
  grid-gap: 20px
  width: auto
  margin: auto
  @media screen and (max-width: 425px)
    grid-gap: 10px
    grid-template-columns: auto
    max-width: 300px

.CardsContainer img
  width: 100%


.banderasContainer
  display: grid
  grid-template-columns: auto auto
  grid-template-rows: auto auto
  grid-gap: 10px

*
  margin:auto


.bandera
  width: 150px
  border-radius: 30%
  height: 100px
  margin-top: 10px

.banderaWrapper
  width: 100%
  height: 100%

button, input
  margin-top: 15px


.logo
  margin-top: 10px
  margin-bottom: 10px
  width: 50px


.cientifico
  width: 200px
  margin: auto

.selected
  border-color: (blue !important)

input
  text-align: center


.collage
  display: grid
  grid-template-columns: auto auto
  grid-gap: 10px
  height: 220px
  grid-area: none
  img
    height: 100%
    width: auto
    margin: auto

.botonesEleccion
  display: grid;
  grid-auto-columns: max-content;
  grid-gap: 30px;
  margin-left: 29%;

video
  margin: auto

.form_video
  .MuiFormGroup-root
    flex-direction: (initial !important)
.form_audio
  .MuiFormControlLabel-root
    display: block